<div class="list-wrapper js-list-create-form">
  <div id="list_add_form" class="list-add-form hidden">
    <%= form_with model: list, html: { class: 'list-form js-list-form' } do |f| %>
    <%= f.hidden_field :board_id %>
    <%= f.text_field :name, id: 'list-name-input', class: 'list-name-input', spellcheck: 'false', autocomplete: 'off', placeholder: 'リストのタイトルを入力…' %>
    <div class="list-add-controls">
      <%= f.submit 'リストを作成', id: 'list-add-btn', class: 'disabled' %>
      <span class="list-create-cancel cancel">×</span>
    </div>
    <% end %>
  </div>

  <div id="new-list-create">
    <span class="placeholder">
      <span>＋ リストを追加</span>
    </span>
  </div>
</div>