<div class="list-wrapper">
  <div class="list">
    <div class="list-header">
      <textarea class="list-header-name" name="list-name" spellcheck="false"><%= list.name %></textarea>
      <div class="list-header-extras">
        <div class="list-header-extras-menu js-open-list-menu" data-list-id=<%= list.id %>>
          <%= icon 'fa', 'ellipsis-h', class: 'icon-sm list-menu-btn-icon' %>
        </div>
      </div>
    </div>
    <div class="list-cards">
      <%= render partial: 'cards/card', locals: {list: list, cards: list.cards} %>
    </div>
  </div>
</div>