<div class="list-wrapper">
  <div class="list">
    <div class="list-header">
      <textarea class="list-header-name" name="list-name" spellcheck="false"><%= list.name %></textarea>
    </div>
    <div class="list-cards">
      <%= render partial: 'cards/card', locals: {list: list, cards: list.cards} %>
    </div>
  </div>
</div>