<div class="list-wrapper">
  <div class="list">
    <div class="list-header">
      <textarea class="list-header-name" name="list-name" spellcheck="false"><%= list.name %></textarea>
    </div>
    <%= render partial: 'cards/card' %>
  </div>
</div>