<div class="pop-over hidden">
  <div class="pop-over-header js-pop-over-header">
    <span class="pop-over-header-title">リスト操作</span>
    <span class="pop-over-header-close-btn icon-sm icon-close">×</span>
  </div>
  <div>
    <div class="pop-over-content js-pop-over-content" style="max-height: 850px;">
      <div>
        <ul class="pop-over-list">
          <li>
            <%= link_to 'リストを削除', '#', class: 'js-delete-list', rel: 'nofollow', method: :delete, remote: true %>
          <li>
        </ul>
      </div>
    </div>
  </div>
</div>