<div class="background-cover">
  <div class="board-wrapper">
    <div class="board-canvas">
    </div>
    <div id="board">
      <%= render @board.lists %>
      <%= render partial: 'lists/form', locals: { list: @list} %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'boards/list' %>