<% cards.each do |card| %>
<div class="list-card-details">
  <span class="list-card-title"><%= card.name %></span>
</div>
<% end %>
<%= render partial: 'cards/form', locals: { list: list, card: Card.new() } %>