<div class="quick-card-editor hidden">
  <span class="icon-close quick-card-editor-close-icon-cancel">×</span>
  <div class="quick-card-editor-card" style="top: 207.890625px; left: 15.95703125px; width: 256px;">
    <div class="list-card list-card-quick-edit">
      <div class="list-card-details js-card-details">
        <textarea class="list-card-edit-title js-edit-card-title" dir="auto"
          style="overflow: hidden; overflow-wrap: break-word; resize: none"></textarea>
      </div>
    </div>
    <input class="list-card-edit-submit-btn primary js-save-edits" type="submit" value="保存">
    <div class="quick-card-editor-buttons">
      <a class="quick-card-editor-buttons-item js-edit-labels" rel="nofollow" data-method="delete" href="#">
        <%= icon 'far', 'trash-alt', class: 'card-edit-icon' %>
        <span class="quick-card-editor-buttons-item-text">削除</span>
      </a>
    </div>
  </div>
</div>