<div class="card-composer hidden">

  <%= form_with model: card, html: { class: 'card-form js-card-form' } do |f| %>
  <div class="list-card">
    <%= f.hidden_field :list_id, id: "card_list_id_#{list.id}", value: list.id %>
    <div class="list-card-details">
      <%= f.text_area :name, { class: 'list-card-composer-textarea', id: "card_name_list[#{list.id}]", spellcheck: 'false', dir: 'auto', placeholder: 'このカードにタイトルを入力...'  } %>
    </div>
  </div>
  <div class="card-create-submit">
    <%= f.submit 'カードを追加', { class: 'card-create-btn disabled' } %>
    <span class="card-create-cancel cancel">×</span>
  </div>
  <% end %>

</div>

<div class="card-composer-container">
  <div class="open-card-composer" href="#">
    <span class="add-a-card">＋ カードを追加</span>
  </div>
</div>