  <form class="card-form js-card-form" action="/cards" accept-charset="UTF-8" method="post">
    <div class="list-card">
      <input type="hidden" value="<%= list.id %>" name="card[list_id]" class="card_list_id">
      <div class="list-card-details">
        <textarea name="card[name]" class="list-card-composer-textarea" spellcheck="false" dir="auto"
          placeholder="このカードにタイトルを入力..."></textarea>
      </div>
    </div>
    <div class="card-create-submit">
      <input type="submit" name="commit" value="カードを追加" class="card-create-btn disabled" data-disable-with="カードを追加">
      <span class="cancel">×</span>
    </div>
  </form>