// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sidebar-boards-list {
	display: flex;
	justify-content: center;
	margin-top: 40px;

	.fa {
		font-size: 18px;
	}

	.sidebar {
		width: 180px;

		.sidebar-nav {
			padding-left: 10px;
			margin: 0;

			.home {
				text-decoration: none;

				.fa-icon {
					margin-left: 10px;
				}
			}
			.sidebar-nav-menu {
				text-align: left;
				width: 200px;
				height: 32px;
				background: rgba(240, 199, 255, 0.4);
				font-size: 18px;
				font-weight: bold;
				border-radius: 4px;
				line-height: 32px;
				color: #907799;

				span {
					margin-left: 8px;
				}
			}
		}
	}

	.all-boards {
		margin-left: 70px;
		margin-top: 30px;

		.boards-page-section {
			font-weight: bold;
			color: #000;

			span {
				margin-left: 6px;
			}
		}

		.boards-list {
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			margin-top: 20px;
			margin-bottom: 48px;

			.board-cards-list {
				text-decoration: none;

				.board-card {
					width: 190px;
					height: 100px;
					margin-right: 15px;
					margin-bottom: 15px;
					position: relative;
					background: #e597b2;
					box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
					border-radius: 5px;

					.board-card-fade {
						display: none;
						background-color: rgba(0, 0, 0, 0.15);
						margin: 0;
						bottom: 0;
						left: 0;
						position: absolute;
						right: 0;
            top: 0;
            border-radius: 5px;
					}

					&:hover {
						.board-card-fade {
							display: inline-block;
						}
					}

					.board-card-title {
						margin: 0;
						padding: 7px 0 0 10px;
						font-weight: bold;
						color: #fff;
					}
				}
			}
		}

		.new-board-card {
			cursor: pointer;
			width: 190px;
			height: 100px;
			margin-right: 15px;
			margin-bottom: 15px;
			position: relative;
			background: #f2f2f2;
			border-radius: 5px;

			.new-board-card-fade {
				display: none;
				background-color: rgba(0, 0, 0, 0.1);
				margin: 0;
				bottom: 0;
				left: 0;
				position: absolute;
				right: 0;
        top: 0;
        border-radius: 5px;
			}

			&:hover {
				.new-board-card-fade {
					display: inline-block;
				}
			}

			.new-board-create {
        margin: 0;
				text-align: center;
        font-weight: normal;
        line-height: 100px;
			}
		}
	}
}

@media only screen and (max-width: 1068px) {
	.sidebar {
		display: none;
	}
}
