<nav class="nav-bar">
  <div class="navbar-left">
    <%= link_to root_path, method: :get, class: 'home' do %>
    <i class="fa fa-home"></i>
    <% end %>
    <div class="board-list">
      <%= icon 'fa', 'list-ul' %><span>ボードリスト</span>
    </div>
  </div>
  <div>
    <%= link_to 'ToDoApp', root_path, class: 'navbar-brand' %>
  </div>
  <div class="navbar-right">
    <div class="user-edit">
      <%= link_to icon 'fa', 'user-circle', class: 'user-edit-icon' %>
    </div>
  </div>
</nav>